* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.credentials_block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 50%;
  gap: 32px;
  height: 50%;
}

.credentials_buttons {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.element {
  padding: 12px;
}
.divider {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  gap: 24px;
}

.result {
  white-space: pre-wrap;
  word-break: break-all;
  padding: 10px;
  text-wrap: wrap;
  width: 50%;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.message_block {
  margin-top: 12px;
}

.message_btn {
  padding: 12px;
}

.file_message_block {
  margin-top: 12px;
}
